.aboutBanner {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  border-radius: 25px;
  justify-content: center;
  position: relative;
  height: 223px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;

  background: rgba(0, 0, 0, 0.3) url(../../assets/img/Mountain2.png)
    center/cover;
}
