.footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  width: 97%;
  padding: 20px;
  margin-top: 30px;
  text-align: center;

  .logo img {
    max-width: 100px;
  }

  .p {
    color: black;
  }
}
