.navigation {
  ul {
    display: flex;
    margin: 30px;
    justify-content: flex-end;
    top: 0px;
    right: 0px;
    position: absolute;
  }

  a {
    text-decoration: none;
    padding: 10px;

    li {
      list-style-type: none;
      color: #ff6060;
      cursor: pointer;
    }
  }

  .nav-active {
    position: relative;

    &::after {
      content: "";
      height: 1px;
      width: 5px;
      background: #ff6060;
      position: absolute;
      border-radius: 10px;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-animation: anim 0.3s ease forwards;
      animation: anim 0.6s ease forwards;
    }
    @-webkit-keyframes anim {
      to {
        width: 100%;
      }
    }
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}
