.Rating {
  display: flex;
  flex-wrap: nowrap;
}

.Rating img {
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .Rating {
    align-items: center;
  }

  .Rating img {
    width: 25px;
    height: 25px;
  }
}
