.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags li {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin-right: 10px;
  background: #ff6060;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  padding: 2px 10px 0;
}

.tags ul {
  padding: 0;
  display: flex;
}
