h6,
p {
  display: flex;
  justify-content: center;
  color: #ff6060;
}

h6 {
  font-size: 288px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  font-size: 36px;
}

.LinkHome {
  display: flex;
  justify-content: center;
  color: black;
}
